.App {
  text-align: center;
}

.imge{
  width: 100px;
  margin-top: -10px;
}

.cartimg{
  
    width: 72px;
    position: absolute;
    top: 1%;
    right: 1%;
}

button.remove-cart-btn{
  margin-top: 10px;
  background-color: blue;
}
.counter{
  right: 16px;
  width: 20px;
  height: 26px;
  position: absolute;
  color: black;
  z-index: 999999;
  top: 5px;
  background-color: #ff5050;
  border-radius: 50%;
  font-size: 19px;
  padding: 2px;
  margin: 1px;
}

.btn-wrapper button{
background-color: red;
border: 0px;
padding: 10px;
border-radius: 4px;
color: #fff;
box-shadow: #333 0px 1px 5px ;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.item{
  float: left;
  display: inline-block;
  width: 120px;
  padding: 20px;
  height: 70px;
}

.cart-wrapper{
height: 235px;
width: 500px;
border: 1px solid #ccc;
margin-left:10%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
